@font-face {
  font-weight: 3;
  font-family: WUbuntu;
  src: url('../static/Ubuntu_Sans/UbuntuSans-Light.ttf') format('TrueType');
}
@font-face {
  font-weight: 4;
  font-family: WUbuntu;
  src: url('../static/Ubuntu_Sans/UbuntuSans-Regular.ttf') format('TrueType');
}
@font-face {
  font-weight: 5;
  font-family: WUbuntu;
  src: url('../static/Ubuntu_Sans/UbuntuSans-Medium.ttf') format('TrueType');
}
@font-face {
  font-weight: 6;
  font-family: WUbuntu;
  src: url('../static/Ubuntu_Sans/UbuntuSans-SemiBold.ttf') format('TrueType');
}
@font-face {
  font-weight: 7;
  font-family: WUbuntu;
  src: url('../static/Ubuntu_Sans/UbuntuSans-Bold.ttf') format('TrueType');
}